body {
  background-color: #1C3144;
}

.App {
  text-align: center;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.mainheader {
  font-family: 'Ubuntu', sans-serif;
  font-size: 48px;
  color: #FFBA08;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  list-style: none;
  margin-right: 45px;
}

.auth-input, #search-field {
  width: 550px;
  font-size: 32px;
  background-color: #1C3144;
  border: none;
  border-bottom: 3px solid #FFBA08;
  color: #FFBA08;
}

.auth-input::placeholder, #search-field::placeholder {
  color: #FFBA08;
}

#search-button {
  background-color: #1C3144;
  border: none;
  border-bottom: 3px solid #FFBA08;
  color: #FFBA08;
  font-size: 30px;
}

.nav-link {
  font-size: 24px;
  margin: 12.5px;
  color: #FFBA08;
  padding: 10px;
}

.nav-link:hover {
  border: 3px solid #3F88C5;
}

.nav-link:visited {
  color: #FFBA08;
}

.auth-container, .auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.auth-input {
  margin: 30px;
}

#registersubmit {
  font-size: 30px;
  background-color: #1C3144;
  border: none;
  border-bottom: 3px solid #FFBA08;
}

.recipe-subcontainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.recipe1 {
  margin: 35px;
}

.favorite-submit {
  font-size: 24px;
  background-color: #1C3144;
  border: none;
  border-bottom: 3px solid #FFBA08;
  color: #FFBA08;
}

.favorite-submit:hover {
  border: 3px solid #3F88C5;
  text-decoration: underline #FFBA08;
  padding: 12.5px;
}

h3, p {
  color: #FFBA08;
}

a, a:hover {
  color: #F8DDA4;
}

@media only screen and (max-width: 800px) {
  .mainheader {
    font-size: 32px;
  }
  .nav-link {
    font-size: 18px;
    margin: 12.5px;
  }

  .auth-input, #search-field {
    width: 250px;
    font-size: 24px;
  }

  #search-button {
    font-size: 23px;
  }

  .auth-input {
    margin: 10px;
  }

  .recipe-subcontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .favorite-submit {
    font-size: 20px;
    border: 1px solid black;
    background-color: white;
  }
}
